body{

    height: 100%;
}
html{
    height: 95%;
    background: url(images/background_body.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
    font-size: 40px;
    text-align: center;
    padding-top: 15px;
}
header{
    width: 100%;
    height: 70px;

    color: white;
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #fe4902,
    2px 2px #fe4902,
    3px 3px #fe4902;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
main{
    background-color: rgba(0,0,255,0.5);
    margin: 50px auto;
    width: 95%;
    min-height: 500px;


}
.searchBox{
    color: white;
    padding-top: 30px;
    text-align: center;
    font-size: 35px;
}
.searchBoxInput{
    background-color: rgba(0, 173, 0,0.8);
    color: black;
    font-size: 35px;
    width: 30%;
    height: 40px;
}
.gallery{

    margin: 0 auto;
    padding-top: 30px;
}
.mini{
    margin: 20px;
    object-fit: cover;
    object-position: 100% 0;


    width: 200px;
    height: 200px;
}


.behind-scene{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;

    max-width: 80%;
}
.behind-scene-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.behind-scene-body{
    width: 100%;
     padding:10px 15px;
}
.full{
    margin-left:-30px;
    width: 100%;
    border: none;

}
.behind-scene.active{
    transform: translate(-50%,-50%) scale(1);
}
.exit{
    float: right;
    width: 50px;
    height: 50px;
}
.description{
    padding: 15px;
    color: black;
    font-size: 15px;
}
.buttons{
    top: 50%;
    left: 50%;
    display: inline-block;
    color: black;

}
.pad{

    display: inline-block;
    padding-right: 20px;
}
.behind-scene-header{
    color: black;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.behind-scene-header .title{
     font-size: 1.25rem;
     font-weight: bold;
}
.behind-scene-body{
    width: 100%;
      padding:10px 15px;
}
.exit{
    float: right;
    width: 50px;
    height: 50px;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}
#overlay.active{
     opacity: 1;
     pointer-events: all;
}
img{
    border: 11px double rgba(255,255,255,0.76);
}
.img{
    width: 100%;
}
@media screen and (max-width: 1000px){
    .img{
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    body{background-size: auto;
        height: 100%}
    .behind-scene-body{
        width: 100%;
        font-size: 10px;
    }.behind-scene{
         width: 100%;
     }

}
.hidden{
    display: none;
}
.arrows{

}
.leftArrow{
    margin-left: 5px;
    border: none;
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
}
.rightArrow{
    margin-right: 20px;
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    float: right;
}
